@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.btn {
  cursor: pointer;
  width: 100%;
  color: $lightColor;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba($lightColor, 0.4);
  text-transform: uppercase;
  transition: .2s;
  outline: none;
  margin-right: 7px;
  border: none;
  border-radius: 10px;
  padding: 15px;

  &:hover {
    background-color: rgba($lightColor, 1);
    color: $accentColorDark;
  }

  &:disabled {
    opacity: .5
  }
}

