@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.label {
  display: block;
  position: relative;

  span {
    font-size: 18px;
    margin-right: 18px;
    color: $mainColor;
  }

  .error {
    cursor: pointer;
    position: absolute;
    color: red;
    top: 50%;
    right: -20px;

    &:hover {
      .errorMessage {
        transform: translateY(-50%) scale(1);
      }
    }

    .errorMessage {
      position: absolute;
      top: 50%;
      left: 10px;
      min-width: 100px;
      padding: 5px;
      text-align: center;
      transform: translateY(-50%) scale(0);
      transform-origin: left;
      transition: .3s;
    }
  }

  .showPassword {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 8px;
  }

  .input {
    display: block;
    min-height: 40px;
    width: 100%;
    outline: none;
    border: 0;
    padding: 15px 15px;
    transition: .2s;
    background: rgba($lightColor, 0.6);
    font-family: $primaryFontFamily;
    @include text(20px, 500, 1, $mainColor);
    box-sizing: border-box;
    border-radius: 10px;

    &:hover, &:focus {
      background: rgba($lightColor, 1);
    }

    &::placeholder {
      color: $secondaryColor;
    }
  }
}
