@import '/assets/styles/variables.scss';
@import '/assets/styles/mixins.scss';

body {
  min-height: 100vh;
  margin: 0;
  font-family: $primaryFontFamily;
  @include text(20px, 400, 1.5, $lightColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, $accentColorDark, $accentColorLight);
  @media (max-width: 400px) {
    font-size: 17px;
  }
}
