$primaryFontFamily: 'Roboto Condensed', Helvetica, Arial, sans-serif;

$mainColor: #333;
$secondaryColor: #ccc;
$lightColor: #fff;
$darkColor: #000;
$accentColorDark: #007891;
$accentColorLight: #3dc9c0;